#chimpaxify-message {
  display: none;
}
.chimpaxify-success {
  color: #1acb82;
  font-family: inherit;
}
.chimpaxify-error {
  color: #cc3333;
  font-family: inherit;
}
.chimpaxify-loading {
  /* This loader can be replaced, or removed all together in the options. */
  /* Make sure to set the correct path and adjust positioning according to your layout. */
  background: url('loader.gif') no-repeat center bottom;
}
